@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

:root {
  --bg: #0b0f14;
  --panel: #111820;
  --text: #e6edf3;
  --muted: #94a3b8;
  --primary: #3b82f6;
  /* blue */
  --radius: 12px;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  /* background: linear-gradient(180deg, #0b0f14, #0b0f14 60%, #0e141b); */
  color: var(--text);
}

a {
  color: var(--primary);
  text-decoration: none;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 24px;
}

.panel {
  background: var(--panel);
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: var(--radius);
  padding: 20px;
}

.btn {
  background: var(--primary);
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px 14px;
  cursor: pointer;
  font-weight: 600;
}

.btn.secondary {
  background: transparent;
  border: 1px solid #223042;
}

.input,
.select,
.textarea {
  width: 100%;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #223042;
  background: #0b1118;
  color: var(--text);
}

.grid {
  display: grid;
  gap: 16px;
}

.grid.two {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid.three {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width: 800px) {

  .grid.two,
  .grid.three {
    grid-template-columns: 1fr;
  }
}

.card {
  border: 1px solid #223042;
  border-radius: var(--radius);
  padding: 16px;
  background: #0c121a;
}

.small {
  color: var(--muted);
  font-size: 12px;
}

hr {
  border: none;
  border-top: 1px solid #1f2937;
  margin: 18px 0;
}

.dark-section {
  background-color: #0b0f14;
}














/* Process Section */
.process-section {
  position: relative;
  padding: 70px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.process-section .nav-link {
  background-color: #fff;
  color: #000;
  border-radius: 0 !important;
  border: 0;
  border-bottom: 1px solid #000;
  padding: 20px 20px 10px 20px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Zen Dots", sans-serif;
  transition: 0.3s all ease;
}

.process-section .nav-link span{
  margin-inline-end: 10px;
}

.process-section .nav-link:hover {
  color: #000;
  transition: 0.3s all ease;
}

.process-section .nav-link.active {
  background-color: #000 !important;
  color: #fff !important;
  border-bottom: 1px solid #fff !important;
  transition: 0.3s all ease;
}

.process-section .tab-content {
  background-color: #ededed;
  padding: 40px;
  min-height: 100%;
}


















/* FAQ Section */
.faq-section {
  padding: 70px 0;
  position: relative;
}

.faq-section .accordion-flush>.accordion-item {
  background-color: transparent;
  padding-inline: 0;
}

.faq-section .accordion-flush .accordion-button {
  background-color: transparent;
  color: #fff;
  padding-inline: 0;
}

.faq-section .accordion-flush .accordion-button:focus {
  box-shadow: none;
}

.faq-section .accordion-flush .accordion-body {
  color: #fff;
  padding-inline: 0;
  padding-bottom: 30px;
}

.faq-section .accordion-flush .accordion-button::after {
  content: "\F286";
  font-family: "bootstrap-icons" !important;
  background-image: none;
  color: #fff;
}


















/* Contact Section */
.contact-section {
  position: relative;
  padding: 70px 0;
}

.contact-section .content-side {
  position: relative;
}

.content-side h2 {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}

.content-side p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
}

.contact-section .contact-box {
  position: relative;
}

.social-box {
  margin-top: 30px;
}

.social-box ul {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-box ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  rotate: 45deg;
  transition: 0.4s all ease;
}

.social-box ul li a i {
  color: rgba(0, 0, 0, 0.5);
  rotate: -45deg;
  transition: 0.4s all ease;
}

.social-box ul li a:hover {
  rotate: 0deg;
  background-color: #000;
  transition: 0.4s all ease;
}

.social-box ul li a:hover i {
  color: #fff;
  rotate: 0deg;
  transition: 0.4s all ease;
}

.contact-section .contact-box .contact-form {
  position: relative;
}

.contact-section .contact-box .contact-form .form-label {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
}

.contact-section .contact-box .contact-form .form-control {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  padding-inline: 0;
}

.contact-section .contact-box .contact-form .form-control:focus {
  border-color: #000;
  box-shadow: none;
}

.contact-section .contact-box .contact-form button {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s all ease;
}

.contact-section .contact-box .contact-form button:hover {
  text-decoration: underline;
  text-decoration-color: #000;
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  gap: 15px;
}













/* Footer CSS */
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer .copyright-text {
  /* padding: 30px 0; */
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 500;
}

footer .copyright-text a {
  color: #000;
  text-decoration: none;
}

/* Marquee slider for Footer */
.marquee-wrapper {
  overflow: hidden;
  width: 100%;
  background: #111;
  padding: 20px 0;
  position: relative;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite;
}

.marquee-track span {
  font-family: "Zen Dots", sans-serif;
  font-size: 150px;
  font-weight: 700;
  font-style: italic;
  color: #fff;
  margin-right: 60px;
  white-space: nowrap;
  text-transform: uppercase;
}

/* Infinite smooth animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.footer-link-box {}

.footer-link-box ul {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-link-box ul li a {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s all ease;
  text-transform: uppercase;
}

.footer-link-box ul li a:hover {
  color: #000;
}